<%- include('./partials/header.ejs'); %>

<h1>About</h1>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate itaque
  deleniti accusantium, commodi aperiam nulla perspiciatis doloremque mollitia
  obcaecati temporibus excepturi eos provident eligendi similique. Quos cumque
  molestiae dignissimos facilis provident voluptates nisi, saepe eos ipsa ut
  deleniti? Odio eligendi vel ducimus, cupiditate placeat neque, assumenda totam
  voluptate incidunt, fuga blanditiis! Nihil placeat quia rerum, facere ratione
  praesentium ea nisi aperiam impedit tenetur accusamus, harum mollitia libero
  assumenda aspernatur quidem officiis tempora totam consequatur quo dicta iste
  iure. Eligendi, pariatur beatae, reprehenderit quia culpa officiis numquam
  rem, at maiores neque libero eaque ducimus temporibus. Provident, quae!
  Reprehenderit nam fugiat obcaecati.
</p>

<%- include('./partials/footer.ejs'); %>
